/* start of featuresBox styles */

.feature-item {
  background-color: var(--btn-bg);
  padding: 20px;
  color: var(--white);
  margin: 20px 0px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.feature-icon {
  font-size: 50px;
  color: var(--second-color);
}
.feature-title {
  font-weight: bold;
  margin: 20px 0px;
}
.more-info {
  font-size: 30px;
  color: var(--second-color);
}
.hovered-arrow {
  display: none;
  transition: all 0.4s;
}

.feature-item:hover {
  background-color: var(--body);
  border: 1px solid #ddd;
}
.feature-item:hover .hovered-arrow {
  display: block;
}

/* end of featuresBox styles */
