/* start title section styles */

.title-section {
  padding: 10px;
  margin: 20px 0px;
}
.title-section .category-name {
  color: var(--second-color);
  font-size: 25px;
  font-weight: bold;
}
.title-section h2 {
  font-weight: bold;
  color: var(--white);
  font-size: 40px;
}

/* end title section styles */
